<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nativehp.p1102-daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sorce/code/p1102-userspace-driver/venv/bin/python3</string>
        <string>/Users/sorce/code/p1102-userspace-driver/p1102_daemon.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/sorce/code/p1102-userspace-driver/daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sorce/code/p1102-userspace-driver/daemon_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/sorce/code/p1102-userspace-driver</string>
</dict>
</plist>
