<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.str4ngemd.p1102-fw-uploader</string>
    <key>ProgramArguments</key>
    <array>
        <string>/FULLPATHTOYOURVENV/venv/bin/python3</string>
        <string>/Library/Printers/foo2zjs/bin/p1102_fw_uploader.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Printers/foo2zjs/bin/fw_uploader.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Printers/foo2zjs/bin/fw_uploader.err</string>
</dict>
</plist>
